//====================Constants====================

html, body{
  max-width: 100%;
  overflow-x: hidden;
}

//==========fonts==========
$font: 'D-DIN Condensed', 'D-DIN Condensed Bold', 'American Captain';
$fontSizing: 2.313vh, 3.25vh, 4vh, 4.75vh, 5.5vh, 6.25vh;
//Tweak fontSizing later... these are way off.
$errorFont: 'D-DIN Condensed Bold', #ffffff, 15rem;

//==========colors==========
$rpsBrand: #0069ad, #ad0034, #959595, #ffffff, #000000;
::selection {
  background: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
}
::-moz-selection {
  background: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
}
footer ::selection{
  background: nth($rpsBrand, 4);
  color: nth($rpsBrand, 5);
}
footer ::-moz-selection{
  background: nth($rpsBrand, 4);
  color: nth($rpsBrand, 5);
}
.container a:hover{
  background: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
}
a:hover{
  background: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
}
footer li a:hover{
  background: nth($rpsBrand, 2);
  color: nth($rpsBrand, 4);
}

//==========headings==========
h1{
  font-family: nth($font, 3);
  color: nth($rpsBrand, 4);
  font-size: nth($fontSizing, 4);
  -webkit-text-stroke: 2px nth($rpsBrand, 5),;
  text-shadow: 3px 0px .5px nth($rpsBrand, 1), 0px 3px .5px nth($rpsBrand, 1);
}
h2{
  font-family: nth($font, 2);
  color: nth($rpsBrand, 1);
  font-size: nth($fontSizing, 3);
}
h3{
  font-family: nth($font, 2);
  color: nth($rpsBrand, 4);
  font-size: nth($fontSizing, 2);
  -webkit-text-stroke: 1px nth($rpsBrand, 1);
}
h4{
  font-family: nth($font, 1);
  color: nth($rpsBrand, 4);
  font-size: nth($fontSizing, 1);
  -webkit-text-stroke: .5px nth($rpsBrand, 5);
}
h5{
  font-family: nth($font, 2);
  color: nth($rpsBrand, 4);
  font-size: nth($fontSizing, 1);
}

//==========text==========
p{
  font-family: nth($font, 1);
  font-size: nth($fontSizing, 1);
}
a{
  font-family: nth($font, 1);
  font-size: nth($fontSizing, 1);
}
span{
  font-family: nth($font, 1);
  font-size: nth($fontSizing, 1);
}
//==========menu==========
nav{
  position: relative;
  //top: 25px;
  width: 100%;
  padding: 0;
  z-index: 10;
}
#menu-main li{
  list-style: none;
  text-decoration-line: none;
  background-color: rgba(149, 149, 149, .5);
  text-align: center;
}
#menu-main li a{
  color: nth($rpsBrand, 4);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
//  neat little trick for text outline
}
.mega-menu-wrap{
  padding: 0;
  width: 100%;
}


//==========animations/buttons==========
button{
  height: 30px;
  width: 150px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  text-align: center;
  vertical-align: middle;
  background: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
  //text-shadow: 3px 3px 4px #000;
}
button span{
  font-size: 1rem;
}
@keyframes wiggle {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-10px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}


//====================Header Styling====================
//switch from hard coding when content is populated dynamically
.home-block{
  top: -550px;
  margin-bottom: -200px;
}
.home-block img{
  width: 150px;
  height: 150px;
}
.home-heading{
  font-size: nth($fontSizing, 3);
  font-family: nth($font, 1);
  color: nth($rpsBrand, 4);
  text-shadow: none;
  -webkit-text-stroke: unset;
}
.power{
  font-family: nth($font, 3) !important;
  font-size: nth($fontSizing, 2);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
//Not displaying heading because of logo prominence
.bodyOutline{
  display: none;
}

//====================Body Styling====================
.news{
  background-color: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
  height: 25px;
}
.news p{
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding-top: 2.5px;
}
.container a{
  font-family: nth($font, 1);
  color: nth($rpsBrand, 2);
  text-decoration: none;
}
.container p {
  font-family: nth($font, 1);
}
.container span{
  font-family: nth($font, 1);
}

//====================Footer Styling====================
footer{
  background-color: nth($rpsBrand, 1);
}
footer span, sub{
  text-align: center;
  color: nth($rpsBrand, 4);
}
footer a{
  text-decoration: none;
  color: nth($rpsBrand, 4);
}
footer p{
  color: nth($rpsBrand, 4);
}
footer li{
  list-style: none;
}
footer ul{
  padding: 0;
}
footer .logo{
  margin-top: 21.3%;
}
footer .socmed{
  margin: 1%;
}
.socmed{
  height: 40px;
  width: 40px;
  background: nth($rpsBrand, 4);
  border-radius: 45px;
  display: inline-flex;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}
.socmed object{
  pointer-events: none;
}
.socmed:hover{
  -webkit-animation: wiggle .5s;
  -o-animation: wiggle .5s;
  animation: wiggle .5s;
}
.socmed a:hover{
  background: none;
}
.socmed img{
  width: 60%;
  height: 60%;
}
.socmed object{
  width: 100%;
  height: 100%;
}
.socmed a{
  width: 100%;
  height: 100%;
}
#facebookIcon{
  justify-content: center;
  align-items: center;
  background-color: #4267B2;
}
#youtubeIcon{
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
}
#instaIcon{
  justify-content: center;
  align-items: center;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
#instaIcon object{
  width: 100%;
  height: 100%;
}
#tiktokIcon{
  justify-content: center;
  align-items: center;
}
.errorHeading{
  font-family: nth($errorFont, 1);
  color: nth($errorFont, 2);
  font-size: nth($errorFont, 3);
  margin-top: 50px;
  margin-bottom: 15px;
}
footer .logo{
  width: 50%;
}
.errorPage img{
  position: absolute;
  height: 850px;
  aspect-ratio: 16 / 9;
  z-index: -1;
  overflow-y: hidden;
}
//quick and dirty for now
.errorPage p{
  color: nth($rpsBrand, 4);
  margin-bottom: 40%;
}
.heroVideo{
  width: 100%;
  aspect-ratio: 16/ 9;
}
.heroVideo video{
  width: 100%;
  height: 100%;
}
.brandSpan{
  //transform: translateY(-275px);
  margin-top: -275px;
  margin-bottom: 50px;
}
.brands{
  min-height: 500px;
  max-height: 500px;
  background-color: nth($rpsBrand, 1);
  box-shadow: 9px 6px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 9px 6px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 6px 4px 0px rgba(0,0,0,0.75);
  -webkit-transition: height, 2s transform 1s;
  -moz-transition: height 2s, transform 1s;
  -ms-transition: height 2s, transform 1s;
  -o-transition: height 2s, transform 1s;
  transition: height 2s, transform 1s;
}
.brands:hover{
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
}
.brands p{
  color: nth($rpsBrand, 4);
  padding: 10px;
  font-size: 1.1vw !important;
}
.brands h5{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.brandImage{
  width: 100%;
  text-align: center;
  aspect-ratio: 1 / 1;
  background-color: nth($rpsBrand, 4);
}
.brands img{
  padding-top: 40%;
  padding-left: 6%;
  padding-right: 6%;
  width: 100%;
}
.carousel{
  width: 100%;
  position: absolute;
  aspect-ratio: 16 / 9;
}
.quote{
  position: relative;
  margin: 50px 0;
}
.quote span{
  position: absolute;
  color: nth($rpsBrand, 4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quote img{
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}
.sticky{
  position: fixed;
  top: 0;
}
//body{
//  max-width: fit-content;
//}
.sliderContent img{
  width: 100%;
  height: 100%;
}
.sliderText{
  z-index: 1;
  width: 33.3333333%;
  padding: 10px;
  margin-top: -30%;
  max-height: 365px;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translate(75px, -150px);
  background-color: rgba(255, 255, 255, 0.5);
}
.sliderText p{
  font-size: 12px !important;
}
//!important hackery because of slick... need a better way to handle this in the future
.slick-next{
  z-index: 1 !important;
  right: 1.5% !important;
}
.slick-prev{
  z-index: 1 !important;
  left: 1% !important;
}
.slick-arrow{
  width: 50px !important;
  height: 50px !important;
}
.slick-arrow::before{
  font-size: 50px !important;
  color: nth($rpsBrand, 1) !important;
  //border: 2px solid nth($rpsBrand,4) !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  border-radius: 45px !important;
}