//====================Constants====================

//==========fonts==========
$font: 'D-DIN Condensed', 'D-DIN Condensed Bold', 'American Captain';
$fontSizing: 1.313rem, 2.25rem, 3rem, 3.75rem, 4.5rem, 5.25rem;
//Tweak fontSizing later... these are way off.
$errorFont: 'D-DIN Condensed Bold', #ffffff, 15rem;

//==========colors==========
$rpsBrand: #0069ad, #ad0034, #959595, #ffffff, #000000;
::selection {
  background: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
}
::-moz-selection {
  background: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
}
footer ::selection{
  background: nth($rpsBrand, 4);
  color: nth($rpsBrand, 5);
}
footer ::-moz-selection{
  background: nth($rpsBrand, 4);
  color: nth($rpsBrand, 5);
}
a:hover{
  background: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
}
footer li a:hover{
  background: nth($rpsBrand, 2);
  color: nth($rpsBrand, 4);
}

//==========headings==========
h1{
  font-family: nth($font, 3);
  color: nth($rpsBrand, 4);
  font-size: nth($fontSizing, 4);
  -webkit-text-stroke: 2px nth($rpsBrand, 5),;
  text-shadow: 3px 0px .5px nth($rpsBrand, 1), 0px 3px .5px nth($rpsBrand, 1);
}
h2{
  font-family: nth($font, 2);
  color: nth($rpsBrand, 1);
  font-size: nth($fontSizing, 3);
}
h3{
  font-family: nth($font, 2);
  color: nth($rpsBrand, 4);
  font-size: nth($fontSizing, 2);
  -webkit-text-stroke: 1px nth($rpsBrand, 1);
}
h4{
  font-family: nth($font, 1);
  color: nth($rpsBrand, 4);
  font-size: nth($fontSizing, 1);
  -webkit-text-stroke: .5px nth($rpsBrand, 5);
}
h5{
  font-family: nth($font, 2);
  color: nth($rpsBrand, 4);
  font-size: nth($fontSizing, 1);
}

//==========text==========
p{
  font-family: nth($font, 1);
  font-size: nth($fontSizing, 1);
}
a{
  font-family: nth($font, 1);
  font-size: nth($fontSizing, 1);
}
span{
  font-family: nth($font, 1);
  font-size: nth($fontSizing, 1);
}
//==========menu==========
nav{
  position: relative;
  top: 50px;
  padding: 0;
}
#menu-main li{
  list-style: none;
  background-color: rgba(149, 149, 149, .5);
  text-align: center;
}
#menu-main li a{
  color: nth($rpsBrand, 4);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
//  neat little trick for text outline
}


//==========animations/buttons==========
button{
  height: 30px;
  width: 150px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  text-align: center;
  vertical-align: middle;
  background: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
  //text-shadow: 3px 3px 4px #000;
}
button span{
  font-size: 1rem;
}
@keyframes wiggle {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-10px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}


//====================Header Styling====================
//switch from hard coding when content is populated dynamically
.home-block{
  top: -550px;
  margin-bottom: -200px;
}
.home-block img{
  width: 150px;
  height: 150px;
}
.home-heading{
  font-size: nth($fontSizing, 3);
  font-family: nth($font, 1);
  color: nth($rpsBrand, 4);
  text-shadow: none;
  -webkit-text-stroke: unset;
}
.power{
  font-family: nth($font, 3) !important;
  font-size: nth($fontSizing, 2);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
//Not displaying heading because of logo prominence
.home-block h1{
  display: none;
}

//====================Body Styling====================
.news{
  background-color: nth($rpsBrand, 1);
  color: nth($rpsBrand, 4);
  height: 25px;
}
.news p{
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding-top: 2.5px;
}
.container a{
  font-family: nth($font, 1);
  color: nth($rpsBrand, 2);
  text-decoration: none;
}
.container p {
  font-family: nth($font, 1);
}
.container span{
  font-family: nth($font, 1);
}

//====================Footer Styling====================
footer{
  background-color: nth($rpsBrand, 1);
}
footer span, sub{
  text-align: center;
  color: nth($rpsBrand, 4);
}
footer a{
  text-decoration: none;
  color: nth($rpsBrand, 4);
}
footer p{
  color: nth($rpsBrand, 4);
}
footer li{
  list-style: none;
}
footer ul{
  padding: 0;
}
footer .logo{
  margin-top: 21.3%;
}
footer .socmed{
  margin: 1%;
}
.button{
  border: 2px solid nth($rpsBrand, 4);
  border-radius: 45px;
  width: 100px;
  height: 30px;
  font-size: 14px;
}
.socmed{
  height: 40px;
  width: 40px;
  background: nth($rpsBrand, 4);
  border-radius: 45px;
  display: inline-flex;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -o-transform-origin: bottom;
  transform-origin: bottom;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}
.socmed object{
  pointer-events: none;
}
.socmed:hover{
  -webkit-animation: wiggle .5s;
  -o-animation: wiggle .5s;
  animation: wiggle .5s;
}
.socmed a:hover{
  background: none;
}
.socmed img{
  width: 60%;
  height: 60%;
}
.socmed object{
  width: 100%;
  height: 100%;
}
.socmed a{
  width: 100%;
  height: 100%;
}
#facebookIcon{
  justify-content: center;
  align-items: center;
  background-color: #4267B2;
}
#youtubeIcon{
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
}
#instaIcon{
  justify-content: center;
  align-items: center;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
#instaIcon object{
  width: 100%;
  height: 100%;
}
#tiktokIcon{
  justify-content: center;
  align-items: center;
}
.errorHeading{
  font-family: nth($errorFont, 1);
  color: nth($errorFont, 2);
  font-size: nth($errorFont, 3);
  margin-top: 50px;
  margin-bottom: 15px;
}
footer .logo{
  width: 50%;
}
//fix the webpack image loading issue
//.errorPage{
//  background-image: url("/library/images/404background.jpg");
//    }
.heroVideo{
  //margin is quick and dirty fix for now. figure out why body is hovering below news banner
  margin-top: -55px;
  width: 100%;
  aspect-ratio: 16/ 9;
}
.heroVideo video{
  width: 100%;
  height: 100%;
}
.brandSpan{
  margin-top: -275px;
  margin-bottom: 50px;
}
.brands{
  min-height: 500px;
  background-color: nth($rpsBrand, 1);
  box-shadow: 9px 6px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 9px 6px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 6px 4px 0px rgba(0,0,0,0.75);
  -webkit-transition: height, 2s transform 1s;
  -moz-transition: height 2s, transform 1s;
  -ms-transition: height 2s, transform 1s;
  -o-transition: height 2s, transform 1s;
  transition: height 2s, transform 1s;
}
.brands:hover{
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
}
.brands p{
  color: nth($rpsBrand, 4);
  padding: 5px;
}
.brands h5{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.brands img{
  padding: 0;
  width: 100%;
  aspect-ratio: 1/ 1;
}